{% extends "base.html" %}

{% block title %}Coffeehouse password reset{% endblock %} 
{% block nobreadcrumb %}{% endblock %}
{% block content %}
    <div class="text-center">
        {% if form.errors %}
            <div class="alert alert-danger">
                <p>Please correct the error(s) below</p>
            </div>
        {% endif %}
        <form action="" method="post" class="form-horizontal">{% csrf_token %}
            <fieldset>
                <div class="form-group">
                    <div class="col-md-12">
                        Please enter your email address
                    </div>
                </div>
                {% for field in form %}
                    {% include 'registration/form_field.html' %}
                {% endfor %}
                <div class="form-group">
                    <div class="col-md-12">
                        <button id='submit' class="btn primary" type="submit" accesskey="Enter">Reset my password</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}
