{% extends "base.html" %}

{% block title %}Coffeehouse password change{% endblock %} 
{% block nobreadcrumb %}{% endblock %}
{% block content %}
<div class="text-center">
    {% if form.errors %}
            <div class="alert alert-danger">
            <p>Please correct the error(s) below</p>
        </div>
    {% endif %}
    <div>
    <form action="" method="post" class="form-horizontal">{% csrf_token %}
            <div class="form-group">
                <div class="col-md-12">
                    Please enter your old password, for security purposes and then enter your new password twice to verify it's typed in correctly
                </div>
            </div>
            {% for field in form %}
                {% include 'registration/form_field.html' %}
            {% endfor %}
            <div class="form-group">
                <div class="col-md-12">
                  <button type="submit" class="btn btn-default">Change my password</button>
                  &nbsp;<button type="reset" class="btn">Reset</button>
                </div>
            </div>
    </form>
    </div>
</div>


{% endblock %}
