{% extends "base.html" %}

{% block title %}Coffeehouse password reset{% endblock %} 
{% block nobreadcrumb %}{% endblock %}
{% block content %}
    <div class="text-center">
    {% if validlink %}
        {% if form.errors %}
            <div class="alert alert-danger">
                <a class="close" data-dismiss="alert" href="#">×</a>
                <p>Please correct the error(s) below</p>
            </div>
        {% endif %}
        <form action="" method="post">{% csrf_token %}
            <fieldset>
                <div class="clearfix">
                    <div class="input">
                        Please enter your new password twice to verify it's typed in correctly
                    </div>
                </div>
                {% for field in form %}
                <div class="clearfix">		
                  {% include 'registration/form_field.html' %}
		</div>
                {% endfor %}
                <div class="actions clearfix">
                    <input type="submit" class="btn primary" value="Change my password">
                </div>
            </fieldset>
        </form>
    {% else %}
        <h3>Password reset unsuccessful</h3>
        <p>
            The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.
        </p>
    {% endif %}
    </div>
{% endblock %}
