<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title%}{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{% block metadescription%}{% endblock %}">
    <meta name="keywords" content="{% block metakeywords%}{% endblock %}">
    <meta name="author" content="">
    <style>
      /* Adjust body to make main container go below the bottom of the navbar */
      body {
       min-height: 75rem;
       padding-top: 4.5rem;
      }
    </style>
    <!-- styles -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  </head>

  <body>

    <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Coffeehouse</a>
         <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
           <span class="navbar-toggler-icon"></span>
           <span class="navbar-toggler-icon"></span>   
          </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
	    <a class="nav-link" href="{% url 'homepage' %}">Home</a>
	  </li>
          <li class="nav-item">
	    <a class="nav-link" href="{% url 'coffeehouse.about:index' %}">About</a>
	  </li>
          <li class="nav-item">
	    <a class="nav-link" href="{% url 'coffeehouse.about:contact' %}">Contact</a>
	  </li>
	  <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Site sections</a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="{% url 'coffeehouse.stores:index' %}">Stores</a></li>
	      <li><a class="dropdown-item" href="{% url 'coffeehouse.drinks:index' %}">Drinks</a></li>
              <li><hr class="dropdown-divider"></li>	      
	      <li><a class="dropdown-item" href="{% url 'online' %}">Order online</a></li>
            </ul>
	  </li>
          </ul>
        </div><!--/.navbar-collapse -->
      </div><!-- container-fluid -->
    </div><!-- navbar -->
    <div class="container">

   {% block nobreadcrumb %}
    <nav aria-label="breadcrumb">
     <ol class="breadcrumb">
      {% block breadcrumb %}     
      {% endblock %}
     </ol>
    </nav>
   {% endblock %}
 
      {% block content %}
      {% endblock %}
      <hr>

      <footer>
        <p>{% include "footer.html" %}</p>
      </footer>
    </div> <!-- /container -->

    <!-- Javascript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>
