{% extends "base.html" %}
{% block title %} Coffeehouse Drinks page {% endblock %} 

{% block breadcrumb %} 
        <li class="breadcrumb-item"><a href="{{ url('homepage') }}">Home</a> </li>         
	{% if drink %}
            <li class="breadcrumb-item"><a href="{{ url('coffeehouse.drinks:index') }}">Drinks</a></li>         
        {% else %} 
            <li class="breadcrumb-item active" aria-current="page">Drinks</li>
	{% endif %}
{% endblock %}

{% block content %}

  <ul> 
{% for drink in drinks %}
    <li><a href="{{ url('coffeehouse.drinks:detail',args=[drink]) }}">{{drink|title}}</a></li>    
{% endfor %}
  </ul>

{% endblock %}
