{% extends "base.html" %}
{% block title %} Coffeehouse order online {% endblock %} 

{% block breadcrumb %} 
        <li><a href="{% url 'homepage' %}">Home</a></li>         
        <li class="active">Order online</li>
{% endblock %} 


{% block content %}
	<h4> Select items for your order </h4>
<form method="post" action="">
	  {% csrf_token %}
	  {{ formset.management_form }}
	  {% if formset.non_form_errors %}<div class="alert alert-danger">{{formset.non_form_errors}}</div>{% endif %}
    <table>
        {% for form in formset %}
        <tr><td><ul class="list-inline">{{ form.as_ul }}</ul></td></tr>
        {% endfor %}
    </table>
    <input type="hidden" value="false" name="additems" id="additems">
    <button class="btn btn-primary" id="additemsbutton">Add items to order</button>
    <input type="submit" value="Submit order" class="btn btn-primary">    
</form>

{% endblock %}

{% block beforebodyend %}
<script>
$(document).ready(function() {
        $("#additemsbutton").on('click',function(event) {
         $("#additems").val("true");
       });
});
</script>
{% endblock %}
